.App{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(204,215,218);
background: linear-gradient(90deg, rgba(204,215,218,1) 14%, rgba(107,113,113,1) 93%);
}
.header{
    color:rgb(32, 44, 54);
    font-size: calc(1rem + 1vw );
    margin-left: 2%;
    margin-right: 2%;
 display: flex;
 justify-content: space-between;
 align-items: center;
    
}
.content{
    height: 100%;
    font-size: calc(0.6rem + 1vw );
    background:#f1f2f6;
    border-radius: 50px 50px 0px 0px;
}
.innerContent{
    margin: 2%;
}
.greenBalance{
color: #16b458
}
.redBalance{
    color: #a22719
}
span{
    color:rgb(32, 44, 54); 
}
a{
    text-decoration: none;
}