.operations{
    color: rgb(32, 44, 54);
    display: grid;
grid-template-rows: 2fr 2fr 2fr 1fr;
    align-content: center;
    align-items: center;

}
input{
     font-size: calc(.7rem + 1vw );
    color:rgb(32, 44, 54);
    background-color: transparent;    
    outline: 0;
    border: 0;
    border-bottom: 2px inset rgb(32, 44, 54);
    margin-left: 20px;  
}
button{
    border-width: 0;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: .06em;
    height:  calc(2.8rem + 3vh );
width: calc(4rem + 15vw );
font-size: calc(.6rem + 1vw );
}
button:hover {
    transform: scale(0.96);
  opacity: .80;
  }
  .btns{
justify-self: center;
  }
.depositBtn{
border-radius: 20px 0px 0px 20px;
background: rgba(204,215,218,1);
    background: linear-gradient(90deg, rgba(204,215,218,1) 25%, rgb(121, 125, 126) 100%);

}
.withdrawBtn{
    border-radius: 0px 20px 20px 0px;
    background: rgb(121, 125, 126);
    background: linear-gradient(90deg, rgb(121, 125, 126) 25%, rgba(107,113,113,1) 100%);

}
.in{
    display: flex;
    align-content: center;
    justify-self: center;
}
.greenAmount{
    color: #16b458
}
.redAmount{
    color: #a22719
}

