.operations{
    color: rgb(32, 44, 54);
    display: grid;
    grid-template-columns: repeat(auto-fill, 25%);
    grid-auto-rows: 150px;
  
    align-items: center;
}
input{
    color:rgb(32, 44, 54);
    background-color: transparent;
    outline: 0;
    border: 0;
    border-bottom: 1px solid rgb(32, 44, 54);
}
button{
    border-width: 0;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .04em;
    line-height: 16px;
    height:  calc(3rem + 10px );
    text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,rgba(255, 255, 255, 0.2) 0 0 12px,rgba(57, 31, 91, 0.6) 1px 1px 4px,rgba(57, 31, 91, 0.32) 4px 4px 16px;
}
button:hover {
    transform: scale(0.96);
  opacity: .80;
  }
.depositBtn{
border-radius: 20px 0px 0px 20px;
background: rgba(204,215,218,1);
    background: linear-gradient(90deg, rgba(204,215,218,1) 25%, rgb(121, 125, 126) 100%);

}
.withdrawBtn{
    border-radius: 0px 20px 20px 0px;
    background: rgb(121, 125, 126);
    background: linear-gradient(90deg, rgb(121, 125, 126) 25%, rgba(107,113,113,1) 100%);

}



