.transactions{  
    color: rgb(32, 44, 54);
}
.headerTransactions{
  display: grid;
  grid-template-columns: repeat(auto-fill, 25%);
  grid-auto-rows: 100px;
  justify-items:center;
  align-items: center;
  font-weight:600;
    font-size: calc(.7rem + 1vw ); 
}
.fa{
    color: #a22719;
    font-weight: bold;
    font-size: calc(1rem + 1vw ); 
    cursor: pointer;
}
.fa:hover{
   color: #d22d1b;
}
.btn{
margin-top: 2%;
border-radius: 15px;
background: linear-gradient(90deg, rgb(187, 188, 188) 25%, rgba(107,113,113,1) 100%);
height:  calc(2.8rem + 4vh );
width: calc(6rem + 20vw );
font-size: calc(.8rem + 1vw );
}
.btn:hover {
    transform: scale(0.96);
  opacity: .80;
  }
  .s{
    display: flex;
    justify-content: center;
  }

  .dropbtn {
    border-radius: 7px;
    background: linear-gradient(90deg, rgb(187, 188, 188) 25%, rgba(107,113,113,1) 100%);
    width: 100px;
    height: 30px;
    font-size: 18px
  }
  .dropdown {
    position: relative;
    display: inline-block;
    width: 350px;
  }
  
  .dropdown-content {
    position: absolute;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    display: none;
    background-color: #f1f2f6;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    opacity: 99%;
    color: rgb(32, 44, 54);
    border-radius: 7PX;
    
  }
  .element{
    margin: 10px;
    color: rgb(32, 44, 54);
  }